<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/styles.css') }}">
    <title>Light Controls</title>
</head>
<body>
        <nav>
            <ul class="menu">
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('manualrelaycontrol') }}">Relay Control</a></li>
            </ul>
        </nav>
    <h1>
       Flask Buttons
    </h1>
    <form method="post">
        <h1>
            <!-- Relay 1 -->
            {% if stuff['R1'][1] %}
            <span style="color:green">●</span>
            {% else %}
            <span style="color:red">●</span>
            {% endif %}
            <input type="submit" name="Relay" value="R1"/>
            <!-- Relay 2 -->
            {% if stuff['R2'][1] %}
            <span style="color:green">●</span>
            {% else %}
            <span style="color:red">●</span>
            {% endif %}
            <input type="submit" name="Relay" value="R2"/>
            <!-- Relay 3 -->
            {% if stuff['R3'][1] %}
            <span style="color:green">●</span>
            {% else %}
            <span style="color:red">●</span>
            {% endif %}
            <input type="submit" name="Relay" value="R3"/>
            <!-- Relay 4 -->
            {% if stuff['R4'][1] %}
            <span style="color:green">●</span>
            {% else %}
            <span style="color:red">●</span>
            {% endif %}
            <input type="submit" name="Relay" value="R4"/>
            <br>
            <!-- Relay 5 -->
            {% if stuff['R5'][1] %}
            <span style="color:green">●</span>
            {% else %}
            <span style="color:red">●</span>
            {% endif %}
            <input type="submit" name="Relay" value="R5"/>
            <!-- Relay 6 -->
            {% if stuff['R6'][1] %}
            <span style="color:green">●</span>
            {% else %}
            <span style="color:red">●</span>
            {% endif %}
            <input type="submit" name="Relay" value="R6"/>
            <!-- Relay 7 -->
            {% if stuff['R7'][1] %}
            <span style="color:green">●</span>
            {% else %}
            <span style="color:red">●</span>
            {% endif %}
            <input type="submit" name="Relay" value="R7"/>
            <!-- Relay 8 -->
            {% if stuff['R8'][1] %}
            <span style="color:green">●</span>
            {% else %}
            <span style="color:red">●</span>
            {% endif %}
            <input type="submit" name="Relay" value="R8"/>
            <br>
            <!-- Relay 9 -->
            {% if stuff['R9'][1] %}
            <span style="color:green">●</span>
            {% else %}
            <span style="color:red">●</span>
            {% endif %}
            <input type="submit" name="Relay" value="R9"/>
            <!-- Relay 10 -->
            {% if stuff['R10'][1] %}
            <span style="color:green">●</span>
            {% else %}
            <span style="color:red">●</span>
            {% endif %}
            <input type="submit" name="Relay" value="R10"/>
            <!-- Relay 11 -->
            {% if stuff['R11'][1] %}
            <span style="color:green">●</span>
            {% else %}
            <span style="color:red">●</span>
            {% endif %}
            <input type="submit" name="Relay" value="R11"/>
            <!-- Relay 12 -->
            {% if stuff['R12'][1] %}
            <span style="color:green">●</span>
            {% else %}
            <span style="color:red">●</span>
            {% endif %}
            <input type="submit" name="Relay" value="R12"/>
            <br>
            <!-- Relay 13 -->
            {% if stuff['R13'][1] %}
            <span style="color:green">●</span>
            {% else %}
            <span style="color:red">●</span>
            {% endif %}
            <input type="submit" name="Relay" value="R13"/>
            <!-- Relay 14 -->
            {% if stuff['R14'][1] %}
            <span style="color:green">●</span>
            {% else %}
            <span style="color:red">●</span>
            {% endif %}
            <input type="submit" name="Relay" value="R14"/>
            <!-- Relay 15 -->
            {% if stuff['R15'][1] %}
            <span style="color:green">●</span>
            {% else %}
            <span style="color:red">●</span>
            {% endif %}
            <input type="submit" name="Relay" value="R15"/>
            <!-- Relay 16 -->
            {% if stuff['R16'][1] %}
            <span style="color:green">●</span>
            {% else %}
            <span style="color:red">●</span>
            {% endif %}
            <input type="submit" name="Relay" value="R16"/>
        </h1>
        <h2>
            <input type="submit" name="All On" value="ALL ON"/>
            <input type="submit" name="All Off" value="ALL OFF"/>
        </h2>
    </form>
</body>
</html>